{% extends 'miwebapp/index.html' %}+
{% load static %}
{% load cart.cart_tags %}

{% block content %}
<ul>
    {% if user.is_authenticated %}
    <li>
        <a href="#">Hola {{user.username}}</a>
    </li>

    <li>
        <a href="{% url 'salir' %}">Cerrar sesion</a>
    </li>
    {% else %}
    <li>
        <a href="{% url 'acceder' %}">Acceder</a>
    </li>
    <li>
        <a href="{ % url 'registro' % }">Registro</a>
    </li>
    {% endif %}
</ul>
<div class="container mt-3">
    {% if messages %}
    <div class="row mt-3 mb-3">
        <div class="col-12">
            {% for i in messages %}
            <div class="alert alert-{{ i.tags }}">
                {{ i }}     
            </div>
            {% endfor %}
    {% endif %}
        </div>
    </div>
   
{% endblock %}