<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
{% load crispy_forms_tags %}
{% load static %}
<body id="bodies" style='zoom: 2;padding: 90px;background-color:#233140;color: aliceblue;text-align: center;'>
    <img style='height:100px;' src="../../static/miwebapp/img/heart.svg" alt="">
    <form  action="" method="POST"  style="width: 100%;height: 100%;">
    {% csrf_token %}
    <div>{{form|crispy}}</div>
    <button class="btn btn-primary" type="submit">Iniciar sesión</button>
    <p><a class='btn btn-link' href="{% url 'formsreg' %}">Registrate gratis</a></p>    
    </form>
</body>




